.footer {
  width: 100%;
  background-color: rgb(41, 37, 36);
}

.footer .links {
  margin: 0 auto;
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  max-width: 400px;
  justify-content: space-between;
  width: 80%;
}

.footer .links a {
  color: rgb(220, 97, 36);
}

.footer .links a:hover {
  transition: 0.1s linear;
  color: rgb(128, 61, 27);
}

.footer p {
  text-align: center;
  color: rgb(128, 61, 27);
  margin-top: 40px;
  padding-bottom: 80px;
  letter-spacing: 0.1rem;
}
